<div class="contact">
  <a class="anchor" id="contact"></a>
  <div class="contact__title">
      <h3>Contact Me</h3>
  </div>
  <div class="otherContacts">
    <div class="otherContacts__links">
      <ul class="accordion">
        <li class="tab" *ngFor="let network of socialLinks">
          <a [href]="network.url" target="_blank" *ngIf="network.socialNetwork!=='gmail'">
            <div class="social {{network.socialNetwork}}">
              <a [href]="network.url" target="_blank" *ngIf="network.socialNetwork!=='gmail'">{{network.socialNetwork}}</a>
            </div>
            <div class="content">
              <h1>{{network.socialNetwork}}</h1>
              <p>{{network.description}}</p>
            </div>
          </a>
          <a href="mailto:{{network.url}}" target="_blank" *ngIf="network.socialNetwork==='gmail'">{{network.socialNetwork}}
            <div class="social {{network.socialNetwork}}">
              <a href="mailto:{{network.url}}" target="_blank" *ngIf="network.socialNetwork==='gmail'">{{network.socialNetwork}}</a>
            </div>
            <div class="content">
              <h1>{{network.socialNetwork}}</h1>
              <p>{{network.description}}</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
