.header{
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 95% 5%;
}

.header__text{
    align-self: center;
    font-family: 'Archivo Black', sans-serif;
}

.header__arrow{
    align-self: start;
}

.arrow {
    opacity: 0.8;
    animation: animate 1s alternate infinite;
    cursor: pointer;
}

@keyframes animate {
    0%{
        transform: translateY(0);
      }

      100% {
        transform: translateY(10px);
      }
}

@media only screen and (max-width: 950px){
  .header {
    background-size: cover;
    background-position: center;
    grid-template-rows: 98% 2%;
  }
}

@media only screen and (max-width: 768px){
  .header__text{
    margin: 0 1rem;
  }

  .header__arrow{
      align-self: end;
  }
}
